body > main .container {
    margin: 0 auto 0 auto;
    padding: 0 20px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.header {
    margin-top: 15px;
    padding: 40px;
    background-color: #f5f5f5;
    color: #555555;
    border-bottom: 1px solid #e5e5e5;
}
.header h1 {
    margin: 40px -20px 0 -20px;
    text-align: center;
    font-size: 190%;
}
.main .container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.main .description h2 {
    font-size: 170%;
}
.identicon-image {
    text-align: center;
    margin: 10px auto;
}

/* Responsive
-------------------------------------------------- */

@media (min-width: 300px) and (max-width: 480px) {
    body > main .container {
        border-radius: 0;
        box-shadow: none;
    }
    .identicon-image-basic img {
        width: 250px;
        height: 250px;
    }
    .header {
        padding: 20px;
    }
    .main .description h2 {
        font-size: 150%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .identicon-image-basic img {
        width: 350px;
        height: 350px;
    }
}
@media (min-width: 768px) {
    .identicon-image-basic img {
        width: 420px;
        height: 420px;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1170px) {

}

/* Footer
-------------------------------------------------- */

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    font-size: 14px;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

