{
    "identicon.config": {
        "blocks": 5,
        "block-size": 70,
        "margin": 35,
        "background-color": "f0f0f0"
    },
    "identicon.type": {
        "default": "square",
        "extra": ["circle", "pyramid", "rhombus"]
    }
}