{% extends 'layout.twig' %}

{% block description %}The requested page could not be found{% endblock %}
{% block header %}Error{% endblock %}

{% block content %}

    <section class="description description-error">
        <h2>The requested page could not be found.</h2>
    </section>

{% endblock %}
