{% extends 'layout.twig' %}

{% block content %}
<div class="masthead">
    <h3 class="text-muted">Identicons</h3>
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Lorem ipsum</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus,
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
</div>

{% endblock %}
