{% extends 'layout.twig' %}

{% block description %}A pet project for creating identicons{% endblock %}
{% block header %}Identicons{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Lorem ipsum</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus,
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
</div>

{% endblock %}
