{% extends 'layout.twig' %}

{% block description %}A pet project for creating identicons{% endblock %}
{% block header %}Identicons{% endblock %}

{% block content %}

<form method="post" class="{% if error == true %}error{% endif %}">
    <div class="input-group">
        <input type="text" class="form-control input-large" name="name" id="name" placeholder="Type a word">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-large" id="generate">Generate!</button>
        </span>
    </div>
</form>

<section class="">
    <h2>What is an identicon?</h2>
    <blockquote>
        <p>An Identicon is a visual representation of a hash value [...] that
        serves to identify a user of a computer system as a form of avatar
        while protecting the users' privacy.</p>
        <small>From <a href="http://en.wikipedia.org/wiki/Identicon">wikipedia</a></small>
    </blockquote>
</section>

{% endblock %}
